<div class="card-body">
    <div class="container">
        <% if @record.errors.any? %>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                    <% @record.errors.each do |error| %>
                        <li>
                        <%= error %> : <%= @record.errors[error] %>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= form_for @record  do |form| %>
            <%= render 'records/form', f: form %>
        <% end %>
    </div>
</div>