.card-header {
    background-color: #3276b1;
}

.language ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
.language ul li { 
    display: inline; 
}
.language ul li a {
    padding: 2px 8px;
    display: inline-block;
    /* visual do link */
    color: #fff;
    text-decoration: none;
}
.language ul li a {
    color: #fff
}

// Menu
.language {
    font-size: 10px;
}

.logout a {
    font-size: 12px;
    color: #444;
    text-decoration: none;
}
.logout label {
    color: #fff;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    height: 75%;
    position: relative;
}

.container-login {
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
}

.container-login-background {
    //background-color:rgb(212, 212, 212);
    width: 60%;
    margin-top: 8%;
}

.container-login-content {
    background-color: #fff;
    width: 100%;
    margin: 1%;
}

.container-login-title {
    margin-bottom: 5%;
    text-align: center;
}

.container .label-align-right {
    top: 10;
    text-align: right;
}

.menu .btn {
    border: 1px transparent;
}
