.card-header {
    background-color: #3276b1;
}

// Menu
.language {
    font-size: 10px;
}
.language .bar {
    border-left: 1px solid #fff;
    height: 10px;
}
.language ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
.language ul li { 
    display: inline; 
}
.language ul li a {
    padding: 2px 8px;
    display: inline-block;
    /* visual do link */
    color: #fff;
    text-decoration: none;
}
.language ul li a {
    color: #fff
}
.logout a {
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
}
.logout p {
    font-size: 13px;
    color: #fff;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    height: 75%;
    position: relative;
}
.container .login {
    width: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .label-align-right {
    top: 10;
    text-align: right;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.label-output {
    margin-top: auto;
    margin-left: 10px;
    font-weight: bold;
}
