<div class="card-body">
    <div class="container">
        <%= form_for @user, url: admin_user_path(I18n.locale, @user)  do |form| %>
            <%= render 'admin/users/form', f: form %>
        <% end %>
    </div>
</div>