<% if user_signed_in? %>
    <div class="text-center">
            <div class="col-md-12">
                <p> <%= current_user.name %> </p>
            </div>
            <div class="col-md-12 logout">
                <p><%= link_to t('layout.signout'), user_session_path(1), method: :delete %></p>
            </div>
    </div>
<% end %>