<% if user_signed_in? %>
    <div class="menu">
        <div class="dropdown logout">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to t('layout.change_password'), change_password_user_path(locale, current_user.id), class: 'dropdown-item' %>
                <%= link_to t('layout.signout'), user_session_path(locale, current_user.id), class: 'dropdown-item', method: :delete %>
            </div>
        </div>
    </div>
<% end %>