<% if errors %>
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <% errors.each do |error| %>
                <li>
                <%= error%>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>